<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Chat App</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.0/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>
  <body>
    <h1>Chat App</h1>
    <div>
      <p>Eingeloggt als: <span id="logged-in-user"></span></p>
    </div>

    <input type="text" id="message" placeholder="Type your message..." />
    <button id="send">Send</button>
    <div id="messages"></div>

    <script>
      const socket = io();

      socket.on("connect", function () {
        console.log("Connected to the server");
      });

      socket.on("message", function (data) {
        console.log("recived: " + data);
        var messageElement = $("<p></p>");
        messageElement.html(
          "<strong>" +
            data.username +
            " (" +
            data.time +
            "):</strong> " +
            data.message
        );
        console.log("recived: " + messageElement);
        $("#messages").append(messageElement);
      });

      $("#send").on("click", function () {
        var message = $("#message").val();
        console.log("click: " + message);
        socket.emit("send_message", message);
        $("#message").val("");
      });

      $(document).ready(function () {
        // Get the logged-in username and display it
        $.get("/logged_in_user", function (username) {
          $("#logged-in-user").text(username);
        }).fail(function () {
          alert("Bitte loggen Sie sich ein, um auf den Chat zuzugreifen.");
          window.location.href = "/login";
        });
      });
    </script>
  </body>
</html>
