<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Chat App</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.0/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>
  <body>
    <h1>Chat App</h1>
    <div>
      <p>Eingeloggt als: <span id="logged-in-user"></span></p>
      <a href="{{ url_for('main.logout') }}">Ausloggen</a>
    </div>

    <input type="text" id="message" placeholder="Type your message..." />
    <button id="send">Send</button>
    <div id="messages"></div>

    <script>
      const socket = io();

      socket.on("connect", function () {
        console.log("Connected to the server");
      });

      socket.on("recive_message", function (data) {
        console.log("recived: " + data);
        var messageElement = $("<p></p>");
        messageElement.html(
          "<strong>" +
            data.username +
            "</strong>: " +
            data.message +
            " <small>(" +
            data.time +
            ")</small>"
        );
        console.log("recived: " + messageElement);
        $("#messages").append(messageElement);
      });

      // Event-Listener für das Klicken auf den Senden-Button
      $("#send").on("click", function () {
        sendMessage();
      });

      // Event-Listener für das Drücken der Enter-Taste im Texteingabefeld
      $("#message").on("keydown", function (event) {
        if (event.key === "Enter") {
          event.preventDefault(); // Verhindern Sie das Standardverhalten (Zeilenumbruch)
          sendMessage(); // Rufen Sie die Funktion zum Senden der Nachricht auf
        }
      });

      // Funktion zum Senden der Nachricht
      function sendMessage() {
        var message = $("#message").val();
        console.log("click: " + message);
        socket.emit("send_message", { message: message });
        $("#message").val("");
      }

      function loadMessages() {
        $.getJSON("/get_messages", function (messages) {
          for (var i = 0; i < messages.length; i++) {
            var message = messages[i];
            // Fügen Sie den Code zum Anzeigen der Nachrichten hier ein.
            // Zum Beispiel:
            var messageHtml =
              "<p><strong>" +
              message.username +
              "</strong>: " +
              message.message +
              " <small>" +
              message.time +
              "</small></p>";
            $("#messages").append(messageHtml);
          }
        });
      }

      // Rufen Sie die loadMessages-Funktion auf, wenn die Seite geladen wird
      $(document).ready(function () {
        loadMessages();
      });

      $(document).ready(function () {
        // Get the logged-in username and display it
        $.get("/logged_in_user", function (username) {
          $("#logged-in-user").text(username);
        }).fail(function () {
          alert("Bitte loggen Sie sich ein, um auf den Chat zuzugreifen.");
          window.location.href = "/login";
        });
      });
    </script>
  </body>
</html>
